<html>
  <body>
  {% include 'main.html' %}

  {% block content %}
  <h1 style="text-align:center;color:red;">Four Iconic Guitar Models</h1>
  <br>
  <br>
  <br>
  <div style="text-align:center;color:blue;">
  <h2>
    <img
    src="https://www.guitar-list.com/sites/default/files/styles/model_display/public/gearpics/gibson-es-150.jpg?itok=T17YVmJG" alt="First Guitar"
    style="float:right;width:700px;height:210px;">
  Gibson ES-150
  </h2>
  <br>
  <h3 style="color:black">The ES-150 was the first commercially successful
  electric guitar. It achieved unprecedented notoriety due in large part to its
  endorsement by promiment guitar players of the day such as Eddie Durham Floyd
  Smith and Charlie Christian.
  </h3>
  </div>
  <br>
  <br>
  <div style="text-align:center;color:blue;">
  <h2>
    <img
    src="http://www.fmicassets.com/Damroot/ZoomJpg/10004/0115800302_gtr_frt_001_rr.jpg" style="float:left;width:700px;height:210px;">
  Fender Telecaster
  </h2>
  <br>
  <h3 style="color:black">The first commercially successful solid-body electric
  guitar. Simple yet effective design and bright single-coil sound
  revolutionized electric guitar manufacturing and popular music.
  </h3>
  </div>
  <br>
  <br>
  <div style="text-align:center;color:blue;">
  <h2>
    <img
    src="http://images.gibson.com/Products/Electric-Guitars/2017/USA/Les-Paul-Standard/LPS17B8CH1_MAIN_HERO_01.jpg"
    style="float:right;width:700px;height:240px;">
  Gibson Les Paul
  </h2>
  <br>
  <h3 style="color:black">This instrument was the first solid-body electric
  guitar sold by the Gibson Guitar Corporation.Initially something of a
  commercial failure, however was saved by bluesman like Mike Bloomfield and
  British rockers like Keith Richards, Eric Clapton and Jimmy Page.
  </h3>
  </div>
  <br>
  <br>
  <div style="text-align:center;color:blue;">
  <h2>
    <img
    src="http://www.fmicassets.com/Damroot/Zoom/10003/2400400806_gtr_frt_001_rr.png" style="float:left;width:700px;height:210px;">
  Gretsch 6128 Duo Jet (1953)
  </h2>
  <br>
  <h3 style="color:black">When Fender and Gibson Started selling solid-body
  guitars the Gretsch Company introduced the Duo Jet, arguably the first true
  rock and roll axe.
  </h3>
  </div>
  {% endblock %}
  </body>
</html>
